<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.glyphOrder</key>
    <array>
      <string>.notdef</string>
      <string>space</string>
      <string>A</string>
      <string>B</string>
      <string>C</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>G</string>
      <string>H</string>
      <string>I</string>
      <string>J</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>O</string>
      <string>P</string>
      <string>Q</string>
      <string>R</string>
      <string>S</string>
      <string>T</string>
      <string>U</string>
      <string>V</string>
      <string>W</string>
      <string>X</string>
      <string>Y</string>
      <string>Z</string>
      <string>zero</string>
      <string>one</string>
      <string>two</string>
      <string>three</string>
      <string>four</string>
      <string>five</string>
      <string>six</string>
      <string>seven</string>
      <string>eight</string>
      <string>nine</string>
      <string>period</string>
      <string>comma</string>
      <string>exclam</string>
      <string>question</string>
      <string>quotesingle</string>
      <string>quotedblleft</string>
      <string>quotedblright</string>
      <string>colon</string>
      <string>semicolon</string>
      <string>hyphen</string>
      <string>emdash</string>
      <string>endash</string>
      <string>parenleft</string>
      <string>parenright</string>
      <string>slash</string>
      <string>at</string>
      <string>numbersign</string>
      <string>dollar</string>
      <string>percent</string>
      <string>ampersand</string>
      <string>plus</string>
      <string>equal</string>
      <string>less</string>
      <string>greater</string>
      <string>quoteleft</string>
      <string>middledot</string>
      <string>bullet</string>
      <string>arrowright</string>
      <string>arrowleft</string>
      <string>lightning</string>
      <string>cross</string>
      <string>star</string>
      <string>starOutlined</string>
    </array>
  </dict>
</plist>
